* {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}
body {
	background-image: url(assets/icones/fundogif.gif);
}

a {
	text-decoration: none;
	color: white;
}

a:visited {
	color: white;
}
a:hover {
	color: yellow;
}

ol {
	list-style-image: url(assets/icones/amogusLista.png);
}

ul {
	list-style-type: disc;
}

li {
	margin-top: 10px;
}


::-webkit-scrollbar {
	width: 5px;
}


::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
	background: grey; 
	border-radius: 5px;
  }

.thigas {
	height: 250px;
	width: 200px;
	rotate: -8deg;
	border-color: #00ff00;
	border-width: 2px;
	border-style: solid;
}

.caixa {
	background-image: url(assets/icones/fundoTextin.png);
	overflow-y: scroll;
	overflow-x: hidden;
	display: block;
	border-width: 1px;
	border-color: white;
	border-style: solid;
	word-wrap: break-word;
	scrollbar-width: none;
}

.botaoSai {
	border-width: 1px;
	border-color: white;
	border-style: solid;
	display: block;
	background-color: black;
	z-index: 2;
	color: #00ff00;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}


.textoBotaoSai {
    position: absolute; 
    z-index: 3; 
    color: #00ff00;
    font-size: 18px;
}

.botaoSaiOver {
	border-radius: 0px 0px 15px 0px;
	opacity: 0;
	transition: .5s ease;
	background-image: url(assets/icones/becki.jpg);
	color:#ffffff;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

.botaoSai:hover .botaoSaiOver{
	opacity: 1;
}

.botaoSai:hover .textoBotaoSai {
    opacity: 0; 
	transition: .5s ease;
}

.botaoBlog {
	border-radius: 15px 15px 15px 15px;
	border: 2px solid #00ff00;
	background-color: #111111;
	margin-top: 20px;
	padding: 16px 16px;
	display: block;	
	font-size: 14px;
	color: #00ff00;
	position: relative;
	margin: 0 auto;
	z-index: 3;
}

.botaoBlog:hover {
	background-image: url(assets/icones/becki.jpg);
	border-color: white;
	color:#ffffff;
	transition-duration: 200ms;
	box-shadow: 0px 12px 16px green;
}

.botaoBlog:active {
	background-color: #3e8e41;
	box-shadow: 0 8px 16px #00aa00;
	transform: translateY(4px);
}

.elTb {
	border-width: 1px;
	border-color: white;
	border-style: solid;
	display: block;
	background-color: black;
	z-index: 2;
}

.cantoCima {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	height: 13%;
	width: 8%;
	background-image: url(assets/icones/parado.gif);
	background-size: cover;
}


.cantoBaixo {
	z-index: 2;
	position: fixed;
	top: 76%;
	left: 85%;
	height: 22%;
	width: 14%;
	background-image: url(assets/icones/moguinhos.gif);
	background-size: cover;
}

.postBlog {
	border-width: 1px;
	border-color: white;
	border-radius: 15px 15px 15px 15px;
	width: 780px;
	height: 400px;
	margin-left: 10px;
	margin-top: 30px;
	border-style: solid;
	display: block;
	overflow-y: scroll;
	background-image: linear-gradient(to right, #000000, #001b00, #001b00 0px, #000000 500px);
	z-index: 3;
}

.tituloBlog {
	text-align: center;
	font-size: 40px;
	color: white;
	text-shadow: 1px 2px #003f00;
}

.textoBlog {
	font-size: 15px;
	color:white;
	text-shadow: 1px 2px #003f00;
	margin-left: 5px;
	margin-right: 5px;
}

.cantoCima:hover {
	background-image: url(assets/icones/ventando.gif);
}

.principal {
	width: 950px;
	border-width: 2px;
	border-spacing: 4px;
	border-color: white;
	border-style: solid;
	height: 110px;
	box-shadow: 0px 0px 60px green;
	background-image: url(assets/icones/becki.jpg);
}

.botaoReflexao {
	display: flex;                 
    justify-content: center;       
    align-items: center;          
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-color: green;
	border-style: solid;
}

.botaoReflexao:hover {
	display: flex;                 
    justify-content: center;       
    align-items: center;          
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-color: #00ff00;
	border-style: solid;
	background-color: #002000;
}

.textoReflexao {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 60%;
}

.textoReflexao:hover {
	display: flex;
	color: #8db500;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 60%;
}